<%-include('partials/header')-%>

  
    
        <!-- <% for (var i=0;i<contents.length;i++){ %>
            <p>
                <%=contents[i].topic%>
            
                <%=contents[i].content%>
            </p>
        <%}%> -->
    

    <h1>
        <%=title%>
    </h1>


<p>
    <%=subject%>

</p>